/* FileEdit.css */

.Editcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Adjust as needed */
}

.Editformcontainer {
  max-width: 600px; /* Adjust as needed */
  padding: 20px;
  max-height: 90vh; /* Adjust the maximum height */
  overflow-y: auto;
  background-color: #e79a9a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /*text-align: center;*/
}

.Editformcontainer h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  z-index: 1;
}

.Editformcontainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Editformcontainer label {
  margin-bottom: 10px;
}

.Editformcontainer input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*.Editformcontainer button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}*/

/*.Editformcontainer button:hover {
  background-color: #0056b3;
}*/

.Editinputgroup {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Editinputgroup label {
  flex: 1;
  margin-right: 10px;
  color: #333;
}

.Editinputgroup input {
  flex: 2;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
